<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
       <!-- Application Version -->
       <add key="ver" value="1.0" />
       <!-- SQLite DB Path -->
       <add key="dir" value="./App_Data" />
       <!-- Telegram Bot Token -->
       <add key="TelegramBot" value="TELEGRAMBOT_TOKEN" />
       <!-- Telegram Client Chat ID -->
       <!-- Value can insert multiple Chat ID but spilt by comma -->
       <!-- ex. value = "123456, 456789" -->
       <add key="chatId" value="CHATID" />
   </appSettings>
</configuration>